/*
======================
    general styles
======================
*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Cabin", “Helvetica Neue”, Helvetica, Arial, sans-serif;
    color: #444444;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

video {
    margin: 0;
    padding: 0;
}

header {
    /*background-color: rgba(255,255,255,0.8);*/
    width: 100%;
    height: 500px;
    overflow: hidden;
}

nav {
    /*width: calc(100% - 110px);*/
    display: inline-block;
    position: absolute;
    top: 450px;
    left: calc(50% - 143px);
    z-index: 500;
}
section {
    padding: 75px 0;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0 10%;
}

h1, h2 {
    font-family: "Droid Sans", “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: .08em;
    text-align: center;
}

h3, h4 {
    font-family: "Droid Sans", “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-weight: 900;
    line-height: 1em;
    /*font-style: italic;*/
    letter-spacing: .08em;
}



p {
    font-family: "Cabin", “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .1em;
    font-size: 14px;
}

ul, li {
    font-family: "Droid Sans", “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: .1em;
    font-size: 14px;
    padding: 2px;
    list-style: none;

}


/*for loading icon*/
#load {
    position: flex;
    width: auto;
    width: 94px;
    /*background: white;*/
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

/*
===================
navbar css
===================
*/

.logo {
    display: inline-block;
    width: 200px;
    position: absolute;
    top: 80px;
    /*left: 25px;*/
    left: calc(50% - 100px);
    z-index: 600;
}

#brand-logo {
    width: 100px;
    height: 100%;
}

.rssData {
    position: static;
}

nav a {
    font-family: "Droid Sans", “Helvetica Neue”, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 26px;
    line-height: 1em;
    color: #444444;
    text-decoration: none;
    padding: 37px 0;
    margin-right: 20px;
}

nav a:last-child {
    margin-right: 0;
}

nav a:hover {
    color: #ffaaaa;
    transition: all .4s ease-in-out;
}

.wrapper {
    max-width: 90%;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

.graphic {
    margin: 1em auto;
    width: 20%;
}

.chartDropDown {
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.center {
    text-align: center;
}

/*
===================
rss convert
===================
*/

#rssFishCount {
    text-align: center;
    font-family: "Droid Sans", “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-size: 1.7em;
    padding: 15px;
}

/*
==================
div content
==================
*/
.siteDescriptions {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    padding: 40px 30px;
}

/*testing on bon div - add class to all others when functional*/
/*.divContent {
    display: flex;
}*/

#bonnevilleDam,
#eagleCreekTrailhead,
#klickitatRiverFalls,
#hermanCreekTrailhead {
    border: 2px solid;
    padding: 25px;
    margin: 10px auto;
    transition: all 0.3s ease 0s;
}

div p {
    padding: 0;
}

div h3 {
    padding: 0;
}
 div img {
     width: 100%;


 }


/*
================
svg css
================
*/

.cls-1,
.cls-6,
.cls-7{
    fill:none;
}
.cls-1,
.cls-10,
.cls-4{
    stroke:#000;
}
.cls-1,
.cls-10,
.cls-2,
.cls-4,
.cls-6,
.cls-7,
.cls-8,
.cls-9{
    stroke-miterlimit:10;
}
.cls-2{
    fill:#fcc;
    stroke:#f88;
}
.cls-3{
    font-size:12px;
}
.cls-11,
.cls-13,
.cls-14,
.cls-3,
.cls-5{
    font-family:Helvetica;
}
.cls-4,
.cls-9{
    fill:#fff;
}
.cls-5{
    font-size:14.37px;
}
.cls-6,
.cls-7,
.cls-8,
.cls-9{
    stroke:#5a829c;
}
.cls-6,
.cls-7{
    stroke-linecap:round;
}
.cls-6{
    stroke-width:0.5px;
}
.cls-8{
    fill:#9ebbcb;
}
.cls-10{
    fill:#faa;
    stroke-width:3px;
    opacity: 1;
    transition: all 0.3s ease 0s;
}
.cls-11{
    font-size:14px;
}
.cls-12,
.cls-13,
.cls-15{
    letter-spacing:1px;
}
.cls-13,
.cls-14{
    font-size:18px;
}
.cls-15{
    white-space:pre;
}

/*
=====================
interactivity for map
=====================
*/

.cls-10:hover {
    fill: #3CB25D;
    opacity: .6;
}

/*toggles for divs to show*/

.active {
    display: block;
}

.inactive {
    display: none;
}

/*hannah addition end*/

/*
=====================
mailchimp
=====================
*/

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;
}
