/*hannah addition begin*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  line-height: 2em;
  letter-spacing: .08em;
  text-align: center;
}

h3 {
  font-family: 'Lato', “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1em;
  font-style: italic;
  letter-spacing: .08em;
}

p {
  font-family: 'Playfair Display', Times, serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: .1em;
  font-size: 14px;
  padding: 2px;
}

ul, li {
  font-family: 'Playfair Display', Times, serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .1em;
  font-size: 14px;
  padding: 2px;
  list-style: none;
}

img {
  width: 100%;
}

/*for loading icon*/
#load {
  position: flex;
  width: auto;
  width: 94px;
  /*background: white;*/
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;

}

.wrapper {
  max-width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.graphic {
  margin: 1em auto;
  width: 20%;
}

.chartDropDown {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.siteDescriptions {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  padding: 40px 30px;
}

.bonnevilleDam,
.eagleCreekTrailhead,
.klickitatRiverFalls,
.hermanCreekTrailhead {
  border: 2px solid;
  padding: 25px;
  margin: 10px auto;
  display: none; /* ¡¡¡¡¡all divs are currently on display none!!!!*/
}


/*hannah addition end*/
